body
{
    background-color:blanchedalmond
}

.Text-Property1
{
   
   color:red;
   text-align:left;
   text-transform: uppercase;
   text-indent:2%;
   letter-spacing:300%;
   line-height: 300%;
   word-spacing:300%;
}


.Text-Property2
{
   
   color:green;
   text-align:center;
   text-transform: lowercase;
   text-indent:2%;
   letter-spacing:300%;
   line-height: 300%;
   word-spacing:300%;
}

.Text-Property3
{   
   color:red;
   text-align:right;
   text-transform: capitalize;
   text-indent:2%;
   letter-spacing:300%;
   line-height: 300%;
   word-spacing:300%;
}


